@font-face {
  font-family: Gotham;
  src: url(Components/Fonts/Gotham\ Book\ Font.otf);
}

@font-face {
  font-family: Gotham;
  font-weight: bold;
  src: url(Components/Fonts/Gotham\ Bold.otf);
}

body {
  margin: 0;
  font-family: Gotham, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
